@model MVC_LoginPage.Models.LoginClass

@{
    ViewBag.Title = "Index";
}

<h2></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><b>LoginPage</b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
                <input type="reset" value="Clear" class="btn btn-default" id="btnClear" />
            </div>
        </div>
        <div class="text-danger">
    @ViewBag.Message
</div>
    </div>
}

<div>
    <div class="form-group">
        <table style="width:auto;">
            <tr>
                <td style="width:50%; text-align:right;">Are you a New User?</td>
                <td style="width:50%; text-align:left;" &nbsp;&nbsp;>@Html.ActionLink("Register", "Index", "Register")</td>
            </tr>
        </table>
        <p></p>
    </div>

    </div>

  

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
